body {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  background: white;
  color: white;
 
}
.container{
    height: 85px;
    position: relative;
    border-bottom: 1px solid rgb(76, 74, 74);
    margin-bottom: 10px;
}
.chart{
   display:flex;
   flex-direction: column;
   padding: 10px;
   background: black;
   border-radius: 2px;
   box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.264);
}
.chart_item{
   
    
}
.range{
    position: absolute;
    top: 10px;
    left: 20px;
    display: flex;
    margin-left: 10px;
    padding: 10px;
    align-self: flex-start;
   
}

.range input{
    margin-right: 15px;
}
.rangeBtn{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 10px;
    left: 20px;
    margin-bottom: 10px;
    align-self: flex-start;
    background: none;
    display: flex;
    align-items: flex-start;
}
.rangeBtn div{
    display: flex;
    flex-direction: column;
}
.rangeBtn button{
    background: none;
    color: white;
    margin-right: 5px;
    font-size: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.plus{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 10px;
    right: 20px;
    margin-bottom: 10px;
    background: none;
    font-size: 20px;
    
   
}
.plus button{
   background: none;
   color: white;
   font-size: 20px;
   margin-right: 20px;

}
.plus button:last-child{
    margin-right: 0px;
}
 @media (max-width:530px) {
       .rangeBtn{
         opacity: 1;
         visibility: visible;
       }
}
 @media (max-width:530px) {
       .range{
         opacity: 0;
         visibility: hidden;
       }
}